# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
pdfqa/

# Environment variables
.env

# ChromaDB
doc_vectorstore/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db